body {
    background-color: #faebd6;
}

h1 {
    color: #ff0000;
    font-size: xx-large;
}
.Paragraf {
    font-size: x-large;
    color: #a42423;
}
.Paragraf-2 {
    font-size: x-large;
    color: #00008f;
}